@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Import Tailwind's base styles */
@tailwind base;
/* Import Tailwind's component styles */
@tailwind components;
/* Import Tailwind's utility styles */
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.image-inverted {
  filter: invert(100%);
}
.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
